<!DOCTYPE html>
<html>
<head><title></title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <meta charset="utf-8">
</head>
<body>
<link rel="stylesheet" type="text/css" href="../stylesheets/firebase.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<div class="window">
    <div class="left-side">
        <div class="nav-title">
            <div class="nav-title-bar">
                <div class="firebase-image"></div>
                <div class="text-zone">
                    <div class="text headtext">Firebase</div>
                </div>
            </div>
        </div>
        <div class="nav-zone">
            <div class="nav-content">
                <div class="nav-bar">
                    <div class="image">
                        <div class="fas fa-home"></div>
                    </div>
                    <div class="text-zone">
                        <div class="text">Project Overview</div>
                    </div>
                </div>
                <div class="nav-bar">
                    <div class="image">
                        <div class="fas fa-cog"></div>
                    </div>
                    <div class="text-zone">
                        <div class="text">Setting</div>
                    </div>
                </div>
                <div class="nav-bar">
                    <div class="image">
                        <div class="fas fa-users"></div>
                    </div>
                    <div class="text-zone">
                        <div class="text">Authentication</div>
                    </div>
                </div>
                <div class="nav-bar">
                    <div class="image">
                        <div class="fas fa-database"></div>
                    </div>
                    <div class="text-zone">
                        <div class="text">Database</div>
                    </div>
                </div>
                <div class="nav-bar">
                    <div class="image">
                        <div class="fas fa-folder"></div>
                    </div>
                    <div class="text-zone">
                        <div class="text">Storage</div>
                    </div>
                </div>
                <div class="nav-bar">
                    <div class="image">
                        <div class="fas fa-globe"></div>
                    </div>
                    <div class="text-zone">
                        <div class="text">Hosting</div>
                    </div>
                </div>
                <div class="nav-bar">
                    <div class="image">
                        <div class="fas fa-ellipsis-h"></div>
                    </div>
                    <div class="text-zone">
                        <div class="text">Functions</div>
                    </div>
                </div>
                <div class="nav-bar">
                    <div class="image">
                        <div class="fab fa-medium-m"></div>
                    </div>
                    <div class="text-zone">
                        <div class="text">ML Kit</div>
                    </div>
                </div>
                <div class="nav-bar">
                    <div class="image">
                        <div class="fas fa-tachometer-alt"></div>
                    </div>
                    <div class="text-zone">
                        <div class="text">Performance</div>
                    </div>
                </div>
                <div class="nav-bar">
                    <div class="image">
                        <div class="fas fa-mobile-alt"></div>
                    </div>
                    <div class="text-zone">
                        <div class="text">Test Lab</div>
                    </div>
                </div>
                <div class="nav-bar">
                    <div class="image">
                        <div class="fas fa-hand-point-up"></div>
                    </div>
                    <div class="text-zone">
                        <div class="text">Events</div>
                    </div>
                </div>
                <div class="nav-bar">
                    <div class="image">
                        <div class="fas fa-bars"></div>
                    </div>
                    <div class="text-zone">
                        <div class="text">Conversions</div>
                    </div>
                </div>
                <div class="nav-bar">
                    <div class="image">
                        <div class="fas fa-volleyball-ball"></div>
                    </div>
                    <div class="text-zone">
                        <div class="text">Audiences</div>
                    </div>
                </div>
                <div class="nav-bar">
                    <div class="image">
                        <div class="fas fa-rocket"></div>
                    </div>
                    <div class="text-zone">
                        <div class="text">rocket</div>
                    </div>
                </div>
                <div class="nav-bar">
                    <div class="image">
                        <div class="fas fa-magnet"></div>
                    </div>
                    <div class="text-zone">
                        <div class="text">magnet</div>
                    </div>
                </div>
                <div class="nav-bar">
                    <div class="image">
                        <div class="far fa-clock"></div>
                    </div>
                    <div class="text-zone">
                        <div class="text">clock</div>
                    </div>
                </div>
                <div class="nav-bar">
                    <div class="image">
                        <div class="far fa-clock"></div>
                    </div>
                    <div class="text-zone">
                        <div class="text">clock</div>
                    </div>
                </div>
                <div class="nav-bar">
                    <div class="image">
                        <div class="far fa-clock"></div>
                    </div>
                    <div class="text-zone">
                        <div class="text">clock</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-zone">
        <div class="top-bar">
            <div class="top-bar-1">
                <div class="handycode-app-zone">
                    <div class="handycode-app">handycode-app
                        <div class="fas fa-caret-down"></div>
                    </div>
                </div>
                <div class="empty"></div>
                <div class="gotext">
                    <div class="text">문서로 이동</div>
                </div>
                <div class="bell-image">
                    <div class="fas fa-bell"></div>
                </div>
                <div class="circle-zone">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="top-bar-2">
                <div class="title-zone">
                    <div class="title">개요</div>
                </div>
                <div class="empty"></div>
                <div class="question-icon-zone">
                    <div class="fas fa-question-circle"></div>
                </div>
            </div>
        </div>
        <div class="message-bar">
            <div class="content-zone">
                <div class="mail-icon-zone">
                    <div class="fas fa-envelope"></div>
                </div>
                <div class="text-zone">
                    <div class="text">새로운 firebase 기능, 연구, 이벤트에 관한 이메일 업데이트를 수신합니다.</div>
                </div>
                <div class="click-box">
                    <div class="text">신청</div>
                </div>
            </div>
            <div class="x-icon-zone">
                <div class="fas fa-times"></div>
            </div>
        </div>
        <div class="app-bar">
            <div class="content-zone">
                <div class="text-zone">
                    <div class="text-black">프로젝트의 앱 1개</div>
                    <div class="empty-text-zone"></div>
                    <div class="text-blue-zone">
                        <div class="text-blue">다른 앱 추가</div>
                    </div>
                </div>
                <div class="box-zone">
                    <div class="box-top">
                        <div class="android-image-zone">
                            <div class="fab fa-android"></div>
                        </div>
                        <div class="handycode-text-zone">
                            <div class="title">Handy Code</div>
                            <div class="explain">com.samsung.android.codemaker</div>
                        </div>
                        <div class="empty-box-zone"></div>
                        <div class="navi-icon-zone">
                            <div class="fas fa-ellipsis-v"></div>
                        </div>
                    </div>
                    <div class="box-bottom-2">
                        <div class="box-bottom-zone border">
                            <div class="box-card-zone">
                                <div class="box-card">
                                    <div class="top-text">일일 활성 사용자 수</div>
                                    <div class="number-zone">
                                        <div class="big-number">31</div>
                                        <div class="percent-number red">-26.2%</div>
                                    </div>
                                    <div class="line-zone first"></div>
                                </div>
                                <div class="box-card">
                                    <div class="top-text">월 활성 사용자 수</div>
                                    <div class="number-zone">
                                        <div class="big-number">622</div>
                                        <div class="percent-number green">+0.5%</div>
                                    </div>
                                    <div class="line-zone second"></div>
                                </div>
                            </div>
                        </div>
                        <div class="box-bottom-zone">
                            <div class="box-card-zone">
                                <div class="box-card">
                                    <div class="top-text">비정상 종료가 발생하지 않은 사용자</div>
                                    <div class="number-zone">
                                        <div class="big-number">85%</div>
                                    </div>
                                    <div class="line-zone third"></div>
                                </div>
                                <div class="box-card">
                                    <div class="top-text">비정상 종료</div>
                                    <div class="number-zone">
                                        <div class="big-number">176</div>
                                    </div>
                                    <div class="line-zone fourth"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-bottom-1">
                        <div class="box-bottom-zone">
                            <div class="box-card-zone">
                                <div class="box-card">
                                    <div class="top-text">일일 활성 사용자 수</div>
                                    <div class="number-zone">
                                        <div class="big-number">31</div>
                                        <div class="percent-number red">-26.2%</div>
                                    </div>
                                    <div class="line-zone first"></div>
                                </div>
                                <div class="box-card">
                                    <div class="top-text">월 활성 사용자 수</div>
                                    <div class="number-zone">
                                        <div class="big-number">622</div>
                                        <div class="percent-number green">+0.5%</div>
                                    </div>
                                    <div class="line-zone second"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-bar">
            <div class="content-zone">
                <div class="card-text-title-zone">
                    <div class="card-text-title">Firebase 탐색</div>
                </div>
            </div>
            <div class="content-zone padding">
                <div class="card-grid-3">
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone analytics"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Analytics</div>
                            </div>
                            <div class="card-explain-zone">자세한 분석을 확인하여 사용자가 앱에 참여하는 방식을 측정하고 분석할 수 있습니다</div>
                        </div>
                        <div class="card-zone">
                            <div class="card-image-zone authentication"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Authentication</div>
                            </div>
                            <div class="card-explain-zone">서버측 코드 없이 다양한 제공업체의 사용자를 인증하고 관리할 수 있습니다</div>
                        </div>
                        <div class="card-zone">
                            <div class="card-image-zone database"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Database</div>
                            </div>
                            <div class="card-explain-zone">연결된 모든 클라이언트에서 실시간으로 데이터를 저장하고 동기화 할 수 있습니다</div>
                        </div>
                    </div>
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone analytics"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Analytics</div>
                            </div>
                            <div class="card-explain-zone">자세한 분석을 확인하여 사용자가 앱에 참여하는 방식을 측정하고 분석할 수 있습니다</div>
                        </div>
                        <div class="card-zone">
                            <div class="card-image-zone authentication"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Authentication</div>
                            </div>
                            <div class="card-explain-zone">서버측 코드 없이 다양한 제공업체의 사용자를 인증하고 관리할 수 있습니다</div>
                        </div>
                        <div class="card-zone">
                            <div class="card-image-zone database"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Database</div>
                            </div>
                            <div class="card-explain-zone">연결된 모든 클라이언트에서 실시간으로 데이터를 저장하고 동기화 할 수 있습니다</div>
                        </div>
                    </div>
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone analytics"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Analytics</div>
                            </div>
                            <div class="card-explain-zone">자세한 분석을 확인하여 사용자가 앱에 참여하는 방식을 측정하고 분석할 수 있습니다</div>
                        </div>
                        <div class="card-zone">
                            <div class="card-image-zone authentication"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Authentication</div>
                            </div>
                            <div class="card-explain-zone">서버측 코드 없이 다양한 제공업체의 사용자를 인증하고 관리할 수 있습니다</div>
                        </div>
                        <div class="card-zone">
                            <div class="card-image-zone database"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Database</div>
                            </div>
                            <div class="card-explain-zone">연결된 모든 클라이언트에서 실시간으로 데이터를 저장하고 동기화 할 수 있습니다</div>
                        </div>
                    </div>
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone analytics"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Analytics</div>
                            </div>
                            <div class="card-explain-zone">자세한 분석을 확인하여 사용자가 앱에 참여하는 방식을 측정하고 분석할 수 있습니다</div>
                        </div>
                        <div class="card-zone">
                            <div class="card-image-zone authentication"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Authentication</div>
                            </div>
                            <div class="card-explain-zone">서버측 코드 없이 다양한 제공업체의 사용자를 인증하고 관리할 수 있습니다</div>
                        </div>
                        <div class="card-zone">
                            <div class="card-image-zone database"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Database</div>
                            </div>
                            <div class="card-explain-zone">연결된 모든 클라이언트에서 실시간으로 데이터를 저장하고 동기화 할 수 있습니다</div>
                        </div>
                    </div>
                </div>
                <div class="card-grid-2">
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone analytics"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Analytics</div>
                            </div>
                            <div class="card-explain-zone">자세한 분석을 확인하여 사용자가 앱에 참여하는 방식을 측정하고 분석할 수 있습니다</div>
                        </div>
                        <div class="card-zone">
                            <div class="card-image-zone authentication"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Authentication</div>
                            </div>
                            <div class="card-explain-zone">서버측 코드 없이 다양한 제공업체의 사용자를 인증하고 관리할 수 있습니다</div>
                        </div>
                    </div>
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone database"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Database</div>
                            </div>
                            <div class="card-explain-zone">연결된 모든 클라이언트에서 실시간으로 데이터를 저장하고 동기화 할 수 있습니다</div>
                        </div>
                        <div class="card-zone">
                            <div class="card-image-zone analytics"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Analytics</div>
                            </div>
                            <div class="card-explain-zone">자세한 분석을 확인하여 사용자가 앱에 참여하는 방식을 측정하고 분석할 수 있습니다</div>
                        </div>
                    </div>
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone authentication"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Authentication</div>
                            </div>
                            <div class="card-explain-zone">서버측 코드 없이 다양한 제공업체의 사용자를 인증하고 관리할 수 있습니다</div>
                        </div>
                        <div class="card-zone">
                            <div class="card-image-zone database"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Database</div>
                            </div>
                            <div class="card-explain-zone">연결된 모든 클라이언트에서 실시간으로 데이터를 저장하고 동기화 할 수 있습니다</div>
                        </div>
                    </div>
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone analytics"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Analytics</div>
                            </div>
                            <div class="card-explain-zone">자세한 분석을 확인하여 사용자가 앱에 참여하는 방식을 측정하고 분석할 수 있습니다</div>
                        </div>
                        <div class="card-zone">
                            <div class="card-image-zone authentication"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Authentication</div>
                            </div>
                            <div class="card-explain-zone">서버측 코드 없이 다양한 제공업체의 사용자를 인증하고 관리할 수 있습니다</div>
                        </div>
                    </div>
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone database"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Database</div>
                            </div>
                            <div class="card-explain-zone">연결된 모든 클라이언트에서 실시간으로 데이터를 저장하고 동기화 할 수 있습니다</div>
                        </div>
                        <div class="card-zone">
                            <div class="card-image-zone analytics"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Analytics</div>
                            </div>
                            <div class="card-explain-zone">자세한 분석을 확인하여 사용자가 앱에 참여하는 방식을 측정하고 분석할 수 있습니다</div>
                        </div>
                    </div>
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone authentication"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Authentication</div>
                            </div>
                            <div class="card-explain-zone">서버측 코드 없이 다양한 제공업체의 사용자를 인증하고 관리할 수 있습니다</div>
                        </div>
                        <div class="card-zone">
                            <div class="card-image-zone database"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Database</div>
                            </div>
                            <div class="card-explain-zone">연결된 모든 클라이언트에서 실시간으로 데이터를 저장하고 동기화 할 수 있습니다</div>
                        </div>
                    </div>
                </div>
                <div class="card-grid-1">
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone analytics"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Analytics</div>
                            </div>
                            <div class="card-explain-zone">자세한 분석을 확인하여 사용자가 앱에 참여하는 방식을 측정하고 분석할 수 있습니다</div>
                        </div>
                    </div>
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone authentication"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Authentication</div>
                            </div>
                            <div class="card-explain-zone">서버측 코드 없이 다양한 제공업체의 사용자를 인증하고 관리할 수 있습니다</div>
                        </div>
                    </div>
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone database"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Database</div>
                            </div>
                            <div class="card-explain-zone">연결된 모든 클라이언트에서 실시간으로 데이터를 저장하고 동기화 할 수 있습니다</div>
                        </div>
                    </div>
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone analytics"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Analytics</div>
                            </div>
                            <div class="card-explain-zone">자세한 분석을 확인하여 사용자가 앱에 참여하는 방식을 측정하고 분석할 수 있습니다</div>
                        </div>
                    </div>
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone authentication"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Authentication</div>
                            </div>
                            <div class="card-explain-zone">서버측 코드 없이 다양한 제공업체의 사용자를 인증하고 관리할 수 있습니다</div>
                        </div>
                    </div>
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone database"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Database</div>
                            </div>
                            <div class="card-explain-zone">연결된 모든 클라이언트에서 실시간으로 데이터를 저장하고 동기화 할 수 있습니다</div>
                        </div>
                    </div>
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone analytics"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Analytics</div>
                            </div>
                            <div class="card-explain-zone">자세한 분석을 확인하여 사용자가 앱에 참여하는 방식을 측정하고 분석할 수 있습니다</div>
                        </div>
                    </div>
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone authentication"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Authentication</div>
                            </div>
                            <div class="card-explain-zone">서버측 코드 없이 다양한 제공업체의 사용자를 인증하고 관리할 수 있습니다</div>
                        </div>
                    </div>
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone database"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Database</div>
                            </div>
                            <div class="card-explain-zone">연결된 모든 클라이언트에서 실시간으로 데이터를 저장하고 동기화 할 수 있습니다</div>
                        </div>
                    </div>
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone analytics"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Analytics</div>
                            </div>
                            <div class="card-explain-zone">자세한 분석을 확인하여 사용자가 앱에 참여하는 방식을 측정하고 분석할 수 있습니다</div>
                        </div>
                    </div>
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone authentication"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Authentication</div>
                            </div>
                            <div class="card-explain-zone">서버측 코드 없이 다양한 제공업체의 사용자를 인증하고 관리할 수 있습니다</div>
                        </div>
                    </div>
                    <div class="card-grid">
                        <div class="card-zone">
                            <div class="card-image-zone database"></div>
                            <div class="card-title-zone">
                                <div class="card-title">Database</div>
                            </div>
                            <div class="card-explain-zone">연결된 모든 클라이언트에서 실시간으로 데이터를 저장하고 동기화 할 수 있습니다</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>