<!DOCTYPE html>
<html>
<head><title></title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
<link rel="stylesheet" type="text/css" href="../stylesheets/instagram.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<div class="fixed-zone">
    <div class="content">
        <div class="circle-zone">
            <div class="circle"></div>
        </div>
        <div class="top-bar">
            <div class="camera-image"><i class="fab fa-instagram fa-3x"></i></div>
            <div class="instagram-image">
                <div class="instagram"></div>
            </div>
            <div class="input-zone"><input type="text" placeholder="search"><i class="fas fa-search"></i></div>
            <div class="top-bar-icons"><i class="far fa-user fa-2x"></i><i class="far fa-heart fa-2x"></i><i
                    class="far fa-compass fa-2x"></i></div>
        </div>
        <div class="main-bar">
            <div class="picture-zone">
                <div class="picture"></div>
            </div>
            <div class="profile-zone">
                <div class="name-zone">
                    <div class="name">selenagomez</div>
                    <i class="fas fa-certificate"><i class="fas fa-check"></i></i>
                    <div class="button">
                        <div class="button-text">follow</div>
                    </div>
                </div>
                <div class="text-zone">
                    <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                        took a galley of type and scrambled it to make a type specimen book. It has survived not only
                        five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.
                    </div>
                </div>
                <div class="number">
                    <div class="post">
                        <div class="numbers">1,190</div>
                        <div class="texts">posts</div>
                    </div>
                    <div class="post">
                        <div class="numbers">80.7m</div>
                        <div class="texts">followers</div>
                    </div>
                    <div class="post">
                        <div class="numbers">248</div>
                        <div class="texts">following</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-bar"><i class="fas fa-th"></i><i class="fas fa-bars"></i><i
                class="fas fa-map-marker-alt"></i></div>
    </div>
</div>
<div class="moved-zone">
    <div class="content">
        <div class="grid">
            <div class="image-zone">
                <div class="image-wrapper"></div>
                <div class="image image-1"></div>
            </div>
            <div class="image-zone">
                <div class="image-wrapper"></div>
                <div class="image image-2"></div>
            </div>
            <div class="image-zone">
                <div class="image-wrapper"></div>
                <div class="image image-3"></div>
            </div>
        </div>
        <div class="grid">
            <div class="image-zone">
                <div class="image-wrapper"></div>
                <div class="image image-4"></div>
            </div>
            <div class="image-zone">
                <div class="image-wrapper"></div>
                <div class="image image-5"></div>
            </div>
            <div class="image-zone">
                <div class="image-wrapper"></div>
                <div class="image image-6"></div>
            </div>
        </div>
        <div class="grid">
            <div class="image-zone">
                <div class="image-wrapper"></div>
                <div class="image image-7"></div>
            </div>
            <div class="image-zone">
                <div class="image-wrapper"></div>
                <div class="image image-8"></div>
            </div>
            <div class="image-zone">
                <div class="image-wrapper"></div>
                <div class="image image-9"></div>
            </div>
        </div>
        <div class="grid">
            <div class="image-zone">
                <div class="image-wrapper"></div>
                <div class="image image-10"></div>
            </div>
            <div class="image-zone">
                <div class="image-wrapper"></div>
                <div class="image image-11"></div>
            </div>
            <div class="image-zone">
                <div class="image-wrapper"></div>
                <div class="image image-12"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>