<!DOCTYPE html>
<html>
<head><title></title>
    <link rel="stylesheet" href="../stylesheets/jsonfilter.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <meta charset="utf-8">
</head>
<body>
<div class="json-filter-window">
    <div class="selector-bar">
        <div class="select-name">성별</div>
        <select index="0">
            <option>ALL</option>
            <option>남</option>
            <option>여</option>
        </select>
        <div class="select-name">학번</div>
        <select index="1">
            <option>ALL</option>
            <option>2010</option>
            <option>2014</option>
            <option>2015</option>
            <option>2016</option>
        </select>
        <div class="select-name">나이</div>
        <select index="2">
            <option>ALL</option>
            <option>28</option>
            <option>24</option>
            <option>22</option>
        </select></div>
    <div class="filter-result-zone"></div>
</div>
<script src="../javascripts/jsonfilter.js"></script>
</body>
</html>