<!DOCTYPE html>
<html>
<head><title></title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/kakaotalk.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../stylesheets/kakaotalk.chattingRooms.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <meta charset="utf-8">

</head>
<body>
<div class="window">
    <div class="kakaotalk-window">
        <link rel="stylesheet" type="text/css" href="../stylesheets/kakaotalk.bar.css">
        <div class="bar"><a href="/junyup0319.github.io/views/kakaotalk.friends.html" target="_self">
            <div class="bar-image-zone">
                <div class="fas fa-user"></div>
            </div>
        </a><a href="/junyup0319.github.io/views/kakaotalk.chattingRooms.html" target="_self">
            <div class="bar-image-zone">
                <div class="fas fa-comment"></div>
            </div>
        </a><a>
            <div class="bar-image-zone">
                <div class="far fa-newspaper"></div>
            </div>
        </a><a href="/junyup0319.github.io/views/kakaotalk.setting.html" target="_self">
            <div class="bar-image-zone">
                <div class="fas fa-ellipsis-h"></div>
            </div>
        </a></div>
        <div class="chatting-room-window"><a class="chatting-friend-bar" href="/junyup0319.github.io/views/kakaotalk.chatting.html" target="_self">
            <div class="profile-image-zone">
                <div class="profile-image">
                    <div class="fas fa-user"></div>
                </div>
            </div>
            <div class="message-zone">
                <div class="name-zone">
                    <div class="name">홍주원</div>
                </div>
                <div class="text-zone">
                    <div class="text">으ㅏ아아ㅏ아아ㅏㅏ아 아ㅏ아아아아아아아아ㅏㅏ아ㅏ앙 아아ㅏ아아아</div>
                </div>
            </div>
            <div class="time-zone">
                <div class="time">오전 11:18</div>
            </div>
        </a><a class="chatting-friend-bar" href="/junyup0319.github.io/views/kakaotalk.chatting.html" target="_self">
            <div class="profile-image-zone">
                <div class="profile-image">
                    <div class="fas fa-user"></div>
                </div>
            </div>
            <div class="message-zone">
                <div class="name-zone">
                    <div class="name">홍주원</div>
                </div>
                <div class="text-zone">
                    <div class="text">으ㅏ아아ㅏ아아ㅏㅏ아 아ㅏ아아아아아아</div>
                </div>
            </div>
            <div class="time-zone">
                <div class="time">오전 11:18</div>
            </div>
        </a><a class="chatting-friend-bar" href="/junyup0319.github.io/views/kakaotalk.chatting.html" target="_self">
            <div class="profile-image-zone">
                <div class="profile-image">
                    <div class="fas fa-user"></div>
                </div>
            </div>
            <div class="message-zone">
                <div class="name-zone">
                    <div class="name">홍주원</div>
                </div>
                <div class="text-zone">
                    <div class="text">으ㅏ아아ㅏ아아ㅏㅏ아 아ㅏ아아아아아아</div>
                </div>
            </div>
            <div class="time-zone">
                <div class="time">오전 11:18</div>
            </div>
        </a><a class="chatting-friend-bar" href="/junyup0319.github.io/views/kakaotalk.chatting.html" target="_self">
            <div class="profile-image-zone">
                <div class="profile-image">
                    <div class="fas fa-user"></div>
                </div>
            </div>
            <div class="message-zone">
                <div class="name-zone">
                    <div class="name">홍주원</div>
                </div>
                <div class="text-zone">
                    <div class="text">으ㅏ아아ㅏ아아ㅏㅏ아 아ㅏ아아아아아아</div>
                </div>
            </div>
            <div class="time-zone">
                <div class="time">오전 11:18</div>
            </div>
        </a><a class="chatting-friend-bar" href="/junyup0319.github.io/views/kakaotalk.chatting.html" target="_self">
            <div class="profile-image-zone">
                <div class="profile-image">
                    <div class="fas fa-user"></div>
                </div>
            </div>
            <div class="message-zone">
                <div class="name-zone">
                    <div class="name">홍주원</div>
                </div>
                <div class="text-zone">
                    <div class="text">으ㅏ아아ㅏ아아ㅏㅏ아 아ㅏ아아아아아아</div>
                </div>
            </div>
            <div class="time-zone">
                <div class="time">오전 11:18</div>
            </div>
        </a><a class="chatting-friend-bar" href="/junyup0319.github.io/views/kakaotalk.chatting.html" target="_self">
            <div class="profile-image-zone">
                <div class="profile-image">
                    <div class="fas fa-user"></div>
                </div>
            </div>
            <div class="message-zone">
                <div class="name-zone">
                    <div class="name">홍주원</div>
                </div>
                <div class="text-zone">
                    <div class="text">으ㅏ아아ㅏ아아ㅏㅏ아 아ㅏ아아아아아아</div>
                </div>
            </div>
            <div class="time-zone">
                <div class="time">오전 11:18</div>
            </div>
        </a><a class="chatting-friend-bar" href="/junyup0319.github.io/views/kakaotalk.chatting.html" target="_self">
            <div class="profile-image-zone">
                <div class="profile-image">
                    <div class="fas fa-user"></div>
                </div>
            </div>
            <div class="message-zone">
                <div class="name-zone">
                    <div class="name">홍주원</div>
                </div>
                <div class="text-zone">
                    <div class="text">으ㅏ아아ㅏ아아ㅏㅏ아 아ㅏ아아아아아아</div>
                </div>
            </div>
            <div class="time-zone">
                <div class="time">오전 11:18</div>
            </div>
        </a><a class="chatting-friend-bar" href="/junyup0319.github.io/views/kakaotalk.chatting.html" target="_self">
            <div class="profile-image-zone">
                <div class="profile-image">
                    <div class="fas fa-user"></div>
                </div>
            </div>
            <div class="message-zone">
                <div class="name-zone">
                    <div class="name">홍주원</div>
                </div>
                <div class="text-zone">
                    <div class="text">으ㅏ아아ㅏ아아ㅏㅏ아 아ㅏ아아아아아아</div>
                </div>
            </div>
            <div class="time-zone">
                <div class="time">오전 11:18</div>
            </div>
        </a></div>
    </div>
</div>
</body>
</html>