<!DOCTYPE html>
<html>
<head><title></title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/kakaotalk.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../stylesheets/kakaotalk.setting.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <meta charset="utf-8">

</head>
<body>
<div class="window">
    <div class="kakaotalk-window">
        <div class="setting-window">
            <div class="setting-top-bar">
                <div class="setting-top-bar-icon"><a class="fas fa-arrow-left" href="/junyup0319.github.io/views/kakaotalk.friends.html"
                                                     target="_self"></a></div>
                <div class="setting-top-bar-text-zone">
                    <div class="setting-top-bar-text">설정</div>
                </div>
                <div class="setting-top-bar-icon"><a class="fas fa-search"></a></div>
            </div>
            <div class="setting-bottom">
                <div class="setting-bar">
                    <div class="setting-bar-image-zone">
                        <div class="fas fa-bullhorn"></div>
                    </div>
                    <div class="setting-bar-text-zone">
                        <div class="setting-bar-text">공지사항</div>
                    </div>
                </div>
                <div class="setting-bar">
                    <div class="setting-bar-image-zone">
                        <div class="fas fa-flask"></div>
                    </div>
                    <div class="setting-bar-text-zone">
                        <div class="setting-bar-text">실험실</div>
                    </div>
                </div>
                <div class="setting-bar">
                    <div class="setting-bar-image-zone">
                        <div class="fas fa-info-circle"></div>
                    </div>
                    <div class="setting-bar-text-zone no-border">
                        <div class="setting-bar-text">버전정보</div>
                    </div>
                </div>
                <div class="setting-bar-space"></div>
                <div class="setting-bar">
                    <div class="setting-bar-image-zone">
                        <div class="fas fa-lock"></div>
                    </div>
                    <div class="setting-bar-text-zone">
                        <div class="setting-bar-text">개인/보안</div>
                    </div>
                </div>
                <div class="setting-bar">
                    <div class="setting-bar-image-zone">
                        <div class="fas fa-bell"></div>
                    </div>
                    <div class="setting-bar-text-zone">
                        <div class="setting-bar-text">알림</div>
                    </div>
                </div>
                <div class="setting-bar">
                    <div class="setting-bar-image-zone">
                        <div class="fas fa-user"></div>
                    </div>
                    <div class="setting-bar-text-zone">
                        <div class="setting-bar-text">친구</div>
                    </div>
                </div>
                <div class="setting-bar">
                    <div class="setting-bar-image-zone">
                        <div class="fas fa-comment"></div>
                    </div>
                    <div class="setting-bar-text-zone">
                        <div class="setting-bar-text">채팅</div>
                    </div>
                </div>
                <div class="setting-bar">
                    <div class="setting-bar-image-zone">
                        <div class="fas fa-sun"></div>
                    </div>
                    <div class="setting-bar-text-zone">
                        <div class="setting-bar-text">화면</div>
                    </div>
                </div>
                <div class="setting-bar">
                    <div class="setting-bar-image-zone">
                        <div class="fas fa-paint-brush"></div>
                    </div>
                    <div class="setting-bar-text-zone">
                        <div class="setting-bar-text">테마</div>
                    </div>
                </div>
                <div class="setting-bar">
                    <div class="setting-bar-image-zone">
                        <div class="fas fa-star"></div>
                    </div>
                    <div class="setting-bar-text-zone">
                        <div class="setting-bar-text">게임별</div>
                    </div>
                </div>
                <div class="setting-bar">
                    <div class="setting-bar-image-zone">
                        <div class="fas fa-ellipsis-h"></div>
                    </div>
                    <div class="setting-bar-text-zone no-border">
                        <div class="setting-bar-text">기타</div>
                    </div>
                </div>
                <div class="setting-bar-space"></div>
                <div class="setting-bar">
                    <div class="setting-bar-image-zone">
                        <div class="fas fa-question-circle"></div>
                    </div>
                    <div class="setting-bar-text-zone no-border">
                        <div class="setting-bar-text">고객센터/도움말</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>