<!DOCTYPE html>
<html>
<head><title></title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/kakaotalk.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../stylesheets/kakaotalk.login.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <meta charset="utf-8">

</head>
<body>
<div class="window">
    <div class="kakaotalk-window">
        <div class="kakaotalk-login-top-bar">
            <div class="empty-zone"></div>
            <div class="kakaotalk-login-top-bar-icon-zone">
                <div class="fas fa-align-left"></div>
            </div>
            <div class="vertical-line-zone">
                <div class="vertical-line"></div>
            </div>
            <div class="kakaotalk-login-top-bar-icon-zone">
                <div class="fas fa-window-minimize"></div>
            </div>
            <div class="kakaotalk-login-top-bar-icon-zone">
                <div class="fas fa-times"></div>
            </div>
        </div>
        <div class="kakaotalk-login-content-zone">
            <div class="kakaotalk-login-TALKimage-zone">
                <div class="kakaotalk-login-TALKimage"></div>
            </div>
            <div class="kakaotalk-login-zone">
                <div class="login-zone-center">
                    <div class="kakaotalk-login-id-zone"><input type="text" placeholder="카카오계정 (이메일)" id="email">
                        <div class="fas fa-caret-down"></div>
                    </div>
                    <div class="kakaotalk-login-password-zone"><input type="password" placeholder="비밀번호" id="password">
                    </div>
                </div>
            </div>
            <div class="kakaotalk-login-button" id="login-button">
                <div class="kakaotalk-login-button-text">로그인</div>
            </div>
            <div class="kakaotalk-login-auto-zone"><input type="checkbox">
                <div class="kakaotalk-login-auto-text">잠금모드로 자동로그인</div>
            </div>
            <div class="kakaotalk-login-horizon-line"></div>
            <div class="kakaotalk-login-bottom-text">모바일에서 카카오계정을 확인할 수 있습니다.</div>
            <div class="kakaotalk-login-bottom-text-underline">카카오계정안내</div>
            <div class="lost-password-zone">
                <div class="lost-password-box">
                    <div class="lost-password-text">비밀번호를 잊어버리셨나요?</div>
                </div>
            </div>
        </div>
        <script src="../javascripts/kakaotalk.login.js"></script>
        </div>
</div>
</body>
</html>