<!DOCTYPE html>
<html>
<head><title></title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/kakaotalk.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../stylesheets/kakaotalk.friends.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <meta charset="utf-8">

</head>
<body>
<div class="window">
    <div class="kakaotalk-window">
        <link rel="stylesheet" type="text/css" href="../stylesheets/kakaotalk.bar.css">
        <div class="bar"><a href="/junyup0319.github.io/views/kakaotalk.friends.html" target="_self">
            <div class="bar-image-zone">
                <div class="fas fa-user"></div>
            </div>
        </a><a href="/junyup0319.github.io/views/kakaotalk.chattingRooms.html" target="_self">
            <div class="bar-image-zone">
                <div class="fas fa-comment"></div>
            </div>
        </a><a>
            <div class="bar-image-zone">
                <div class="far fa-newspaper"></div>
            </div>
        </a><a href="/junyup0319.github.io/views/kakaotalk.setting.html" target="_self">
            <div class="bar-image-zone">
                <div class="fas fa-ellipsis-h"></div>
            </div>
        </a></div>
        <div class="friends-window">
            <div class="group-name-zone">
                <div class="group-name">내 프로필</div>
            </div>
            <a href="/junyup0319.github.io/views/kakaotalk.profile.html" target="_self">
                <div class="friend-bar">
                    <div class="friend-image-zone">
                        <div class="friend-image">
                            <div class="fas fa-user"></div>
                        </div>
                    </div>
                    <div class="friend-name-zone">
                        <div class="friend-name">홍준엽</div>
                    </div>
                </div>
            </a>
            <div class="group-name-zone">
                <div class="group-name">그룹</div>
            </div>
            <a href="/junyup0319.github.io/views/kakaotalk.profile.html" target="_self">
                <div class="friend-bar">
                    <div class="friend-image-zone">
                        <div class="friend-image">
                            <div class="plus-friend"></div>
                        </div>
                    </div>
                    <div class="friend-name-zone">
                        <div class="friend-name">플러스친구</div>
                    </div>
                    <div class="friend-right-zone">
                        <div class="number-zone">
                            <div class="number">8</div>
                        </div>
                        <div class="arrow-image">
                            <div class="fas fa-angle-right"></div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="group-name-zone">
                <div class="group-name">친구 98</div>
            </div>
            <a href="/junyup0319.github.io/views/kakaotalk.profile.html" target="_self">
                <div class="friend-bar">
                    <div class="friend-image-zone">
                        <div class="friend-image">
                            <div class="fas fa-user"></div>
                        </div>
                    </div>
                    <div class="friend-name-zone">
                        <div class="friend-name">플러스친구</div>
                    </div>
                    <div class="friend-right-zone">
                        <div class="text-zone">
                            <div class="text">abcd</div>
                        </div>
                    </div>
                </div>
            </a><a href="/junyup0319.github.io/views/kakaotalk.profile.html" target="_self">
            <div class="friend-bar">
                <div class="friend-image-zone">
                    <div class="friend-image">
                        <div class="fas fa-user"></div>
                    </div>
                </div>
                <div class="friend-name-zone">
                    <div class="friend-name">플러스친구</div>
                </div>
                <div class="friend-right-zone">
                    <div class="text-zone">
                        <div class="text">abcd</div>
                    </div>
                </div>
            </div>
        </a><a href="/junyup0319.github.io/views/kakaotalk.profile.html" target="_self">
            <div class="friend-bar">
                <div class="friend-image-zone">
                    <div class="friend-image">
                        <div class="fas fa-user"></div>
                    </div>
                </div>
                <div class="friend-name-zone">
                    <div class="friend-name">플러스친구</div>
                </div>
                <div class="friend-right-zone">
                    <div class="text-zone">
                        <div class="text">abcd</div>
                    </div>
                </div>
            </div>
        </a><a href="/junyup0319.github.io/views/kakaotalk.profile.html" target="_self">
            <div class="friend-bar">
                <div class="friend-image-zone">
                    <div class="friend-image">
                        <div class="fas fa-user"></div>
                    </div>
                </div>
                <div class="friend-name-zone">
                    <div class="friend-name">플러스친구</div>
                </div>
                <div class="friend-right-zone">
                    <div class="text-zone">
                        <div class="text">abcd</div>
                    </div>
                </div>
            </div>
        </a><a href="/junyup0319.github.io/views/kakaotalk.profile.html" target="_self">
            <div class="friend-bar">
                <div class="friend-image-zone">
                    <div class="friend-image">
                        <div class="fas fa-user"></div>
                    </div>
                </div>
                <div class="friend-name-zone">
                    <div class="friend-name">플러스친구</div>
                </div>
                <div class="friend-right-zone">
                    <div class="text-zone">
                        <div class="text">abcd</div>
                    </div>
                </div>
            </div>
        </a><a href="/junyup0319.github.io/views/kakaotalk.profile.html" target="_self">
            <div class="friend-bar">
                <div class="friend-image-zone">
                    <div class="friend-image">
                        <div class="fas fa-user"></div>
                    </div>
                </div>
                <div class="friend-name-zone">
                    <div class="friend-name">플러스친구</div>
                </div>
                <div class="friend-right-zone">
                    <div class="text-zone">
                        <div class="text">abcd</div>
                    </div>
                </div>
            </div>
        </a><a href="/junyup0319.github.io/views/kakaotalk.profile.html" target="_self">
            <div class="friend-bar">
                <div class="friend-image-zone">
                    <div class="friend-image">
                        <div class="fas fa-user"></div>
                    </div>
                </div>
                <div class="friend-name-zone">
                    <div class="friend-name">플러스친구</div>
                </div>
                <div class="friend-right-zone">
                    <div class="text-zone">
                        <div class="text">abcd</div>
                    </div>
                </div>
            </div>
        </a><a href="/junyup0319.github.io/views/kakaotalk.profile.html" target="_self">
            <div class="friend-bar">
                <div class="friend-image-zone">
                    <div class="friend-image">
                        <div class="fas fa-user"></div>
                    </div>
                </div>
                <div class="friend-name-zone">
                    <div class="friend-name">플러스친구</div>
                </div>
                <div class="friend-right-zone">
                    <div class="text-zone">
                        <div class="text">abcd</div>
                    </div>
                </div>
            </div>
        </a></div>
    </div>
</div>
</body>
</html>