<!DOCTYPE html>
<html>
<head><title></title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/kakaotalk.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../stylesheets/kakaotalk.profile.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <meta charset="utf-8">

</head>
<body>
<div class="window">
    <div class="kakaotalk-window">
        <div class="profile-zone">
            <div class="background-image-zone">
                <div class="background-image-top-bar">
                    <div class="x-image-zone"><a href="/junyup0319.github.io/views/kakaotalk.friends.html" target="_self">
                        <div class="fas fa-times"></div>
                    </a></div>
                    <div class="empty-zone"></div>
                    <div class="album-zone">
                        <div class="fas fa-images"></div>
                    </div>
                </div>
                <div class="background-image-bottom-bar">
                    <div class="circle-image-zone">
                        <div class="circle-image">
                            <div class="fas fa-gift"></div>
                        </div>
                    </div>
                    <div class="circle-image-zone">
                        <div class="circle-image">
                            <div class="fas fa-won-sign"></div>
                        </div>
                    </div>
                    <div class="empty-zone"></div>
                    <div class="circle-image-zone">
                        <div class="circle-image">
                            <div class="fas fa-star"></div>
                        </div>
                    </div>
                </div>
                <div class="center-profile-zone">
                    <div class="center-circle-profile-zone">
                        <div class="fas fa-user"></div>
                    </div>
                </div>
            </div>
            <div class="profile-bottom-zone">
                <div class="profile-name-bar">
                    <div class="profile-name-zone">
                        <div class="profile-name">홍준엽</div>
                    </div>
                    <div class="pencil-icon-zone">
                        <div class="fas fa-pencil-alt"></div>
                    </div>
                </div>
                <div class="profile-phonenumber-bar">
                    <div class="profile-phonenumber-zone">
                        <div class="profile-phonenumber">010-8897-5489</div>
                    </div>
                </div>
                <div class="profile-icon-bar">
                    <div class="profile-icon-zone"><a class="profile-circle-icon-zone" href="/junyup0319.github.io/views/kakaotalk.chatting.html"
                                                      target="_self">
                        <div class="fas fa-comment"></div>
                    </a>
                        <div class="profile-circle-icon-explain-zone">
                            <div class="profile-circle-icon-explain">1:1 채팅</div>
                        </div>
                    </div>
                    <div class="profile-icon-zone"><a class="profile-circle-icon-zone">
                        <div class="fas fa-phone"></div>
                    </a>
                        <div class="profile-circle-icon-explain-zone">
                            <div class="profile-circle-icon-explain">무료통화</div>
                        </div>
                    </div>
                    <div class="profile-icon-zone"><a class="profile-circle-icon-zone">
                        <div class="fas fa-quote-right"></div>
                    </a>
                        <div class="profile-circle-icon-explain-zone">
                            <div class="profile-circle-icon-explain">카카오스토리</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>